<h1 class="location-weather">Enter your location</h1>

<form class="form-input" action="/weather" method="POST">

    <label for="city"></label>
    <input type="text" placeholder="City" name="city">
    <label for="countryCode"></label>
    <input type="text" placeholder="Country" name="countryCode">
    <input type="submit" class="submit" value="submit">

</form>

<br>
<div class="list-data">
    {{#if err}}
        <h2>{{err}}</h2>
    {{/if}}
    {{#if listExists}}
        <h2>Today's weather in {{name}}:</h2>
          <div class="temp2">
              <p>{{temp}} &deg;C</p>
          </div>
          <div class="info-data">
            {{#each data}}
                <p>{{@key}} : {{this}}</p>
            {{/each}}
          </div>  
    {{/if}}
</div>
{{log data}}
